{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Background Image Container -->
    <div class="bg-container">
        <div class="container-fluid h-100">
            <div class="row h-100 text-white">
                <div class="col-7 col-md-6 mt-5 mx-0 text-center">
                    <h1 class="display-4 logo-font">Grapes of <br>Passion</h1>
                    <div class="my-3">
                        <h4>Scroll to Explore</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recommend Wines -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3 class="logo-font text-center">Recommended Wines</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="offset-1 col-10 offset-sm-0 col-sm-4 col-lg-3 mt-3 {% if forloop.last %}d-none d-lg-block{% endif %}">
                <div class="card h-100">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <hr class="m-0">
                    <div class="card-body pb-0 bg-white">
                        <p class="mb-0 text-center">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}
