/* ----- VARIABLES ----- */
:root {
    /* ----- Fonts ----- */
    --header-font: "Playfair Display", "Times New Roman", Times, serif;
    --general-font: "Montserrat", "Helvetica Neue", Arial, sans-serif;

    /* ----- Colours ----- */
    --my-maroon: #6e324a;
    --my-charcoal: #333333;
    --my-dark-gold: #6a5425;
    --my-grey: #c7c7c7;
}

* {
    font-family: var(--general-font);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header-font);
    font-weight: 500;
}

html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--my-charcoal);
    font-family: "Lato";
}

/* ----- from Bulma ----- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: #000 !important;
}

/* Colours */

.bg-maroon {
    background-color: var(--my-maroon);
}
.bg-charcoal {
    background-color: var(--my-charcoal);
}
.bg-dark-gold {
    background-color: var(--my-dark-gold);
}
.bg-grey {
    background-color: var(--my-grey);
}

/* ----- BACK TO TOP LINK ----- */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* ----- Cursor Pointer ----- */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name="q"]::placeholder {
    color: #aab7c4;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/* ----- Logo ----- */
.invert-colours {
    filter: invert(100%);
    opacity: 0.5;
}

.logo-small {
    height: 64px;
    width: 64px;
}

/* ----- Bootstrap Toasts ----- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ----- from CSS-tricks.com: ----- */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* ----- Colour classes - copied from Bootstrap ----- */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Footer */

#footer-details a {
    text-decoration: none;
    color: black;
}

/* Animate buttons/links */
.animate-click:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.animate-click:active {
    transform: scale(0.9);
}

/* ----- WINE TASTING ----- */

.flatpickr-day:not(.flatpickr-disabled) {
    background-color: #dddddd;
    color: #000000;
    border-radius: 25px;
    border: 2px solid #dddddd;
    transition: background-color 0.3s, color 0.3s;
}

.flatpickr-day:not(.flatpickr-disabled):hover {
    background-color: #569ff7;
    border: 2px solid #569ff7;
    color: #ffffff;
    cursor: pointer;
}

/* ----- Other ----- */
.strike-through {
    text-decoration: line-through;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Smaller Devices */
@media (max-width: 991px) {
    .header-container {
        padding-top: 94px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0.6rem 0.6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 0.9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: 0.375rem 0.375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: 0.375rem 0.375rem;
        font-size: 0.75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: 0.25rem 0.5rem !important;
    }
}
