{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Wine Tasting</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-md-6 d-flex justify-content-end align-items-start">
                <img src="{{ MEDIA_URL }}group-wine-tasting.png" alt="a group of people wine tasting" class="img-fluid mb-2">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Group Wine Tasting</h3>
                <br>
                <p>Come together with friends, family, or colleagues for a memorable wine tasting event. Our friendly experts will guide you through a selection of wines, helping you discover different flavours and styles. You'll learn how to taste wine, identify its aromas. In a relaxed and enjoyable setting, you'll share good conversation and create lasting memories while exploring the world of wine.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6 order-md-2">
                <img src="{{ MEDIA_URL }}couples-wine-tasting.png" alt="a group of people wine tasting" class="img-fluid mb-2">
            </div>
            <div class="col-12 col-md-6 text-right order-md-1 p-3">
                <h3>Couples Wine Tasting</h3>
                <br>
                <p>Enjoy a special evening with your partner at our couples' wine tasting. Discover a selection of fine wines as our experts guide you through the nuances of tasting and identifying unique flavours and aromas. In a cosy, intimate setting, savour each glass and enjoy quality time together, making lasting memories in a relaxed and charming atmosphere.</p>
            </div>
        </div>
        <hr>
    </div>

    <!-- Wine Tasting Booking Form -->
    <div class="container my-5">
        <h3 class="py-3">Select Your Experience</h3>
        <div class="col-12 col-lg-6">
            <form class="mt-3" action="{% url 'wine_tasting' %}" method="POST" id="wine-tasting-form">
                {% csrf_token %}
                <!-- Experiences Field -->
                <div class="form-group">
                    <select name="experience" class="form-control border-black rounded-0 profile-form-input">
                        {% for value, label in form.experience.field.choices %}
                            <option value="{{ value }}" {% if form.experience.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Contact Number Field -->
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" name="contact_number" class="form-control border-black rounded-0 profile-form-input" placeholder="Enter contact number" />
                </div>

                <!-- Special Requirements Field -->
                <div class="form-group">
                    <label>Any Special Requirements?</label>
                    <textarea name="special_requirements" rows="4" class="form-control border-black rounded-0 profile-form-input" placeholder="Dietary, accessibility, etc."></textarea>
                </div>

                <!-- Date Field -->
                <div class="form-group">
                    <label>Select Date</label>
                    <input type="text" name="date" class="form-control datepicker border-black rounded-0 profile-form-input" placeholder="-Select Date-" />
                </div>


                <!-- Quantity Field with Custom Buttons -->
                <div class="form-group pb-3">
                    <label>Number of People</label>
                    <div class="d-flex align-items-center">
                        <div class="input-group-prepend">
                            <button type="button" class="decrement-qty btn btn-black rounded-0">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input type="number" name="quantity" class="form-control border-black rounded-0 profile-form-input qty_input" />
                        <div class="input-group-append">
                            <button type="button" class="increment-qty btn btn-black rounded-0">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Price Field -->
                <div id="price-field">
                    <p>Price <small>(per person)</small>: £<span id="price">{{ price }}</span></p>
                </div>

                <!-- Total Price Field -->
                <div class="form-group">
                    <p>Total Price: £<span id="total-price">0</span></p>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-black rounded-0 text-uppercase">Confirm Reservation</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Variables
        const dates = {{ dates_json|safe }};
        const experiencesInfo = {{ experiences_info_json|safe }};
        const experienceField = document.querySelector('select[name="experience"]');
        const dateField = document.querySelector('.datepicker');
        const quantityInput = document.querySelector('.qty_input');
        const decrementBtn = document.querySelector('.decrement-qty');
        const incrementBtn = document.querySelector('.increment-qty');
        const priceField = document.getElementById('price');
        const totalPriceField = document.getElementById('total-price');
        let datepickerInstance;

        // Updates and enables/disables datepicker based on selected experience
        function updateDatepicker() {
            const selectedExperience = experienceField.value;
            if (dates[selectedExperience]) {
                if (datepickerInstance) {
                    datepickerInstance.destroy();
                }
                datepickerInstance = flatpickr(dateField, {
                    enable: dates[selectedExperience].map(date => date.trim())
                });
                dateField.disabled = false;
            } else {
                if (datepickerInstance) {
                    datepickerInstance.destroy();
                }
                datepickerInstance = flatpickr(dateField, {
                    enable: []
                });
                dateField.disabled = true;
            }
        }

        // Updates the quantity input field based on chosen experience
        function updateQuantity() {
            const selectedExperience = experienceField.value;
            const experienceInfo = experiencesInfo[selectedExperience];

            if (experienceInfo) {
                const minQuantity = experienceInfo.min_quantity;
                const maxQuantity = experienceInfo.max_quantity;

                // Set quantity input limits and values
                quantityInput.min = minQuantity;
                quantityInput.max = maxQuantity;
                quantityInput.value = minQuantity;

                // Enable/Disable buttons based on quantity value
                decrementBtn.disabled = quantityInput.value <= minQuantity;
                incrementBtn.disabled = quantityInput.value >= maxQuantity;
                quantityInput.disabled = false;
                
                // Update total price
                updateTotalPrice();
            } else {
                // Disables quantity input and buttons if no experience is selected
                quantityInput.value = '';
                decrementBtn.disabled = true;
                incrementBtn.disabled = true;
                quantityInput.disabled = true;
                
                // Reset total
                totalPriceField.innerText = '0';
            }
        }

        // Update total based on quantity and price
        function updateTotalPrice() {
            const price = parseFloat(priceField.innerText);
            const quantity = parseInt(quantityInput.value);
            const totalPrice = price * quantity;
            totalPriceField.innerText = totalPrice.toFixed(2);
        }

        // Initial setup for datepicker and quantity input
        updateDatepicker();
        updateQuantity();

        // Listens for experience field change to update datepicker and quantity input
        experienceField.addEventListener('change', function() {
            updateDatepicker();
            updateQuantity();
            // Set date input to empty string when experience changes
            dateField.value = '';
        });

        // Click event listener for decrement button
        decrementBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > parseInt(quantityInput.min)) {
                quantityInput.value = currentValue - 1;
                decrementBtn.disabled = quantityInput.value <= parseInt(quantityInput.min);
                incrementBtn.disabled = quantityInput.value >= parseInt(quantityInput.max);
                updateTotalPrice();
            }
        });

        // Click event listener for increment button
        incrementBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue < parseInt(quantityInput.max)) {
                quantityInput.value = currentValue + 1;
                decrementBtn.disabled = quantityInput.value <= parseInt(quantityInput.min);
                incrementBtn.disabled = quantityInput.value >= parseInt(quantityInput.max);
                updateTotalPrice();
            }
        });
    });
</script>
{% endblock %}
