<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item ">Discounts</a>
                <a href="" class="dropdown-item ">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category_ids=1" class="dropdown-item">Red</a>
                <a href="{% url 'products' %}?category_ids=2" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?category_ids=3" class="dropdown-item">Rosé</a>
                <a href="" class="dropdown-item">Countries</a>
                <a href="" class="dropdown-item">Grapes</a>
                <a href="{% url 'products' %}?category_ids=1,2,3" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fortified Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category_ids=4" class="dropdown-item">Port</a>
                <a href="{% url 'products' %}?category_ids=5" class="dropdown-item">Sherry</a>
                <a href="{% url 'products'%}?category_ids=4,5" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
                Wine Tasting
            </a>
            </div>
        </li>
    </ul>
</div>